Products/davinci/Davinci_Advanced/Uni_ver/Encrypt/FileEncrypt/Japanese/Debug/
Products/davinci/Davinci_Advanced/Uni_ver/Encrypt/FileEncrypt/Japanese/Release/
Products/davinci/Davinci_Advanced/Uni_ver/Encrypt/FileEncrypt/Japanese/UpgradeLog.htm
Products/davinci/Davinci_Advanced/Uni_ver/Decrypt/FileDecrypt/Japanese/_UpgradeReport_Files/
Products/davinci/Davinci_Advanced/Uni_ver/Decrypt/FileDecrypt/Japanese/Debug/
Products/davinci/Davinci_tech/ZLIB/Cur_ver/LIB/windows/Release/
Products/davinci/Davinci_tech/ZLIB/Cur_ver/LIB/windows/Debug/
Products/davinci/Davinci_Advanced/Uni_ver/Decrypt/FileDecrypt/Japanese/Release/
Products/davinci/Davinci_Advanced/Uni_ver/YGFSMon/Japanese/Debug/
Products/davinci/Davinci_Advanced/Uni_ver/FED/Japanese/Debug/
*.tmp
~$japan.xlsx
~$lease list.docx
Products/davinci/Davinci_Advanced/Uni_ver/Decrypt/ShellDecrypt/Japanese/Debug/
Products/DeleteMaster/Uni_ver/DelFile/Japanese/Release/
Products/DeleteMaster/Uni_ver/DMF/Japanese/Release/
Products/DeleteMaster/Uni_ver/DelFile/Japanese/Debug/
Products/DeleteMaster/Uni_ver/WinUI/2000/Japanese/Debug/
Products/DeleteMaster/Uni_ver/WinUI/2000/Japanese/Release/
Products/DeleteMaster/Uni_ver/DMFSrv/DMFSrv/Release/
Products/DeleteMaster/Uni_ver/DMFSrv/test/Release/
Products/davinci/Davinci_Advanced/Uni_ver/Decrypt/ShellDecrypt/Japanese/Release/
Products/davinci/Davinci_Advanced/Uni_ver/Encrypt/ShellEncrypt/Japanese/Release/
Products/davinci/Davinci_Advanced/Uni_ver/DelFile/Japanese/Release/
Products/davinci/Davinci_Advanced/Uni_ver/YGFSMon/Japanese/Release/
Products/DeleteMaster/Uni_ver/DMFSrv/test/Debug/
Products/DeleteMaster/Uni_ver/DMFSrv/DMFSrv/Debug/
Products/DeleteMaster/Uni_ver/WinUI/2000/Japanese/_UpgradeReport_Files/
Tech/ParMan/CUR_VER/DLL/2000/Debug/
Products/DeleteMaster/Uni_ver/WinUI/2000/Japanese/UpgradeLog.XML
Products/DeleteMaster/Uni_ver/WinUI/2000/Japanese/UpgradeLog2.XML
Products/davinci/Davinci_Advanced/Uni_ver/Encrypt/SelfEntractionConvertingTool/SelfEntractionConvertingTool/Release/
*.ipch
*.sdf
*.tlog
Tech/ParInfo/CUR_VER/DLL/2000/Release/
*.opensdf
